.testimonials
{
    overflow-x: hidden;

    section
    {
        height: 4rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
